* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

#root,
.render {
    height: 100%;
}

:root {
    --scrollbar-with: 7px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-with);
    border-radius: 2.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2.5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 10px;
    border-radius: 2.5px;

}
.contert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(20deg, rgb(143, 0, 172), rgb(0, 75, 160));

}

.contert-center {
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
}

.contert-logo {
    text-align: center;
    margin: 20px 10px 10px;
    font-weight: 700;
    font-size: 30px;
    color: black;

    border-bottom: 1px solid black;
}

.contert-body {
    display: flex;
    justify-content: center;
}

.input-custom {
    margin: 20px 30px;
    height: 35px;
    width: 75%;
    position: relative;
}

.input-custom label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s;
    background: transparent;
    border-radius: 5px;
}

.input-custom input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: 0px 0px 3px 0px black;
    height: 100%;
    padding: 0px 3px;
    width: 100%;
    border-radius: 5px;
    animation: 0.2s;
    color: white;
}

.input-custom input:focus~label {
    top: -10px;
    left: 15px;
    color: rgb(39, 150, 255);
}

.input-custom input:focus {
    box-shadow: 0px 0px 5px 0px rgb(39, 150, 255);
}

.list-sub {
    margin: 0px 6px 6px;
    height: calc(100% - 6px);
    border-radius: 5px;
}

.lis-sub-bottom {
    display: flex;
    height: calc(100% - 46px);
    margin: 5px 0px 0px 0px;
    padding-bottom: 6px;
    overflow: hidden;
}

.list-sub .sub-view {
    width: 100%;
    background-color: var(--background-content);
    border-radius: 5px;
    display: grid;
    overflow-y: auto;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    align-content: flex-start;
}

.list-sub .sub {
    cursor: pointer;
    position: relative;
    height: fit-content;
    padding-bottom: 5px;
    background: var(--background-content);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.sub .sub-sta {
    position: absolute;
    z-index: 2;
    color: black;
    /* background:tomato; */
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.sub .sub-img {
    margin: 5px;
    border-radius: 5px;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.sub .sub-img img {
    filter: var(--filter-thumbnail);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    min-width: 100%;
}

.sub .sub-title .title {
    font-weight: bold;
    font-size: 19px;
    text-overflow: ellipsis;
    max-height: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.sub .sub-title {
    height: 40px;
    overflow: hidden;
    padding: 5px;
}

.sub .li {
    display: -webkit-box;
    margin-left: 10px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.filter {
    padding: 5px 10px 5px;
    margin: 0px 0px 2px 0px;
    height: 30px;
    display: flex;
    background-color: var(--background-content);
    border-radius: 5px;
    justify-content: space-between;
}

.filter-list-button {
    display: flex;
}

.slide-bar-button ion-icon {
    height: 100%;
    width: 100%;
}

.slide-bar-button {
    cursor: pointer;

    height: 100%;
    aspect-ratio: 1/1;
    background: transparent;
}

.slide-bar-connet .slide-bar-top {
    height: calc(100% - 30px);
}

.slide-bar-connet .slide-bar-bottom .slide-bar-li {
    cursor: pointer;
}

.slide-bar-connet {
    margin: 0px 0px 0px 6px;
    border-radius: 5px;
    background: var(--background-content);
    width: calc(100% - 6px);
    height: 100%;
}

.slide-bar {
    width: 0px;
    transition: all 0.3s;
}

.filter .filter-button {
    width: fit-content;
    padding: 0px 10px;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 10px;
    cursor: pointer;
    font-weight: 600;
}

.filter .filter-button.sel {
    background-color: #555;
    color: white;
}

.slide-bar-connet {
    font-family: Tahoma;
    overflow: hidden;
}

.slide-bar-li {
    transition: 0.2s;
}

.slide-bar-li p {
    width: 200px;
    height: 25px;
    display: flex;
    align-items: center;
}

.slide-bar-li li {
    display: block;
    height: 25px;
    border-radius: 5px;
    padding-left: 20px;
    cursor: pointer;
}

.slide-bar-li li.on {
    background: yellowgreen;
}

.slide-bar-li li:hover {
    background: rgb(132, 175, 45);
}

.slide-bar-li > .slide-bar-li-title > ion-icon {
    margin-right: 5px;
    height: 100%;
    width: 30px;
}

.slide-bar-li > .slide-bar-li-chill {
    height: 0px;
    opacity: 0;
    margin: 0px 3px 0px 3px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slide-bar-li > .slide-bar-li-chill.on {
    height: fit-content;
    opacity: 1;
}

.slide-bar-li > .slide-bar-li-title {
    height: 30px;
    width: calc(100% - 10px);
    padding: 0 5px;
    display: flex;
    align-items: center;
    
}

.slide-bar-li .slide-bar-tar {
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 30px);
    cursor: pointer;
}

.slide-bar-li .slide-bar-tar > ion-icon {
    margin-right: 5px;
    height: 100%;
    width: 30px;
}

.slide-bar-li .slide-bar-tar:hover {
    color: #888;
}


.slide-bar-li .slide-bar-end ,
.slide-bar-li .slide-bar-setting {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.slide-bar-li .slide-bar-end:hover {
    color:  #888;
}

.slide-bar-li .slide-bar-setting:hover {
    color:  #888;
}

.slide-bar-li .slide-bar-end > ion-icon,
.slide-bar-li .slide-bar-setting > ion-icon {
    font-size: 20px;
}

@media (width < 900px) {
    .list-sub .sub-view {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (width < 680px) {
    .list-sub .sub-view {
        grid-template-columns: 1fr 1fr;
    }
}