body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

.phonghoc {
  background: #d8d8d8;
  height: 100%;
  width: 100%;
}

.phonghoc-row1 {
  display: flex;
  width: 100%;
  height: 100%;
}

.action {
  background: #d8d8d8;
  display: grid;
  width: 55px;
  height: 100%;
  grid-template-rows: 1fr 100px;
}

.action-button .action-button-text {
  position: absolute;
  z-index: 100;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  display: none;
  /* background-color: #F5F5F5; */
}

.action-button .action-button-text p {
  background-color: #f5f5f5;

  margin: 0;
  margin-left: 20px;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.39);
  text-align: center;
}

.action-button {
  width: calc(100% - 10px);
  padding: 5px;
  aspect-ratio: 1/1;
  position: relative;
  transition: all 0.2s;
}

.action-button svg {
  height: 25px;
  width: 25px;
}

.action-button .action-button-svg {
  margin: 3px;
  height: calc(100% - 6px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button .action-button-svg ion-icon {
  height: 25px;
  width: 25px;
}

.action-button:hover .action-button-svg ion-icon {
  color: gray;
}

.action-button .action-button-svg:hover ~ .action-button-text {
  display: block;
}

.phonghoc-chat-conter {
  width: 100%;
  display: flex;
  height: 100%;
}

.phonghoc-chat-conter .phonghoc-content {
  border-radius: 5px;
  margin: 0px 6px 6px 0px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
}

.phonghoc-chat-conter .phonghoc-chat {
  width: 300px;
  height: calc(100% - 6px);
  /* background: #ececec; */
  border-radius: 5px;
  margin: 0px 6px 6px 0px;
  transition: all 0.2s;
}

/* .action-button.on {
  border-left: 3px solid rgb(98, 0, 255);
} */

.title-bar {
  background: #d8d8d8;
  width: 100%;
  height: 25px;
  /* -webkit-app-region: drag;
            background-color: #ECECEC;
            display: flex;
            justify-content: space-between;
            align-items: center; */
  display: grid;
  grid-template-columns: 1fr 60px;
}

.title-r {
  display: flex;
}

.title-r .div-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-r .div-svg:hover {
  background: rgba(0, 0, 0, 0.4);
}

.title-r .div-svg.red:active {
  background: rgb(255, 122, 69);
}

.title-l {
  font-size: 16px;
  padding-left: 10px;
  -webkit-app-region: drag;
}

.phonghoc-content-top,
.chat-top {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 5px 5px 0px 0px;
}

.phonghoc-content-top {
  background-color: #f5f5f5;
}

.chat-top , .chat-content{
  background: #ececec;
  transition: all 0.2s;
}

.chat-content {
  height: calc(100% - 37px);
  border-radius: 0px 0px 5px 5px;
}

.phonghoc-content-bottom {
  background-color: #f5f5f5;
  height: calc(100% - 37px);
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
}

.phonghoc-content-bottom img {
  width: calc(100% - 10px);
}

.phonghoc-content-bottom-content {
  padding-left: 10px;
}

.phonghoc-content-bottom-content p {
  margin: 5px 0;
}

.div-cauhoi {
  height: calc(100% - 41px);

}

.div-cauhoi .cauhoi {
  padding: 5px;
  background-color: #f5f5f5;
  height: calc(55% - 16px);
  border-radius: 5px;
  margin-bottom: 6px;
}

div.cauhoi .stt {
  font-weight: bold;
  margin-right: 5px;
}

.div-cauhoi .dapan {
  height: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.div-cauhoi .dapan .dp {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.div-cauhoi .dapan .dapan-A {
  margin: 0px 3px 3px 0;
}

.div-cauhoi .dapan .dapan-B {
  margin: 0px 0px 3px 3px;
}

.div-cauhoi .dapan .dapan-C {
  margin: 3px 3px 0px 0;
}

.div-cauhoi .dapan .dapan-D {
  margin: 3px 0px 0px 3px;
}

.div-cauhoi .dapan .dp label {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.div-cauhoi .dapan .dp label .hed {
  width: 70px;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 600;
}

.div-cauhoi .dapan .dp label .noidung {
  width: calc(100% - 70px);
  height: max-content;
  margin-right: 10px;
}

.div-cauhoi .dapan .dp input[type="radio"] {
  display: none;
}

.div-cauhoi .dapan .dp input[type="radio"]:checked ~ label {
  background-color: #00925d;
  border-radius: 5px;
}

.div-cauhoi .dapan .dp input[type="radio"]:checked ~ label .hed {
  color: rgb(192, 125, 0);
}

.phonghoc-content-top.baitap ~ .phonghoc-content-bottom {
  background-color: transparent;
  height: calc(100% - 40px);
}

.phonghoc-content-top.baitap {
  border-radius: 5px;
  margin-bottom: 6px;
}


.bottom-key {
  background-color: #f5f5f5;
  height: 35px;
  margin: 6px 0 0 0;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-key p {
  font-family: sans-serif;

}

.bottom-key ion-icon {
  height: 20px;
  width: 20px;
  margin: 0px 5px;
}

.bottom-key > div {
  display: flex;
  align-items: center;
}

.bottom-key-contro-key {
  height: calc(100% - 8px);
}
.bottom-key-contro-key .bottom-button {
  width: 40px;
  height: 100%;
  border-radius: 5px;
  background: #D4D5D7;
  margin: 0px 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-key-contro-key .bottom-button:hover {
  color: gray;
}

.bottom-key-timer {
  margin-left: 10px;
}

.bottom-key-dalam {
  margin-right: 10px;
}

.bottom-key-timer ion-icon {
  margin-bottom: 2px;
}

.list-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.list-menu-button {
  height: calc(100% - 26px);
  margin: 13px;
  border-radius: 5px;
  aspect-ratio: 1/1;
  background: #D9D9D9;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-menu-button ion-icon {
  height: 30%;
  width: 30%;
}

.chat-top.baitap ~ .chat-content{
  height: calc(100% - 82px);
  border-radius: 5px;
}
.chat-top.baitap {
  border-radius: 5px;
  margin-bottom: 6px;
}

.list-menu-button .list-menu-title {
  margin-top: 5px;
  font-size: 1rem;
}

.chat-bottom {
  margin-top: 6px;
  background: #ECECEC;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chat-bottom-button {
  height: calc(100% - 8px);
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  background-color: #00925d;
  border: none;
  outline: none;
  
}

