.setting-main {
    height: calc(100% - 6px);
    width: calc(100% - 12px);
    margin: 0px 6px 6px;
    display: flex;
}

.setting-list {
    height: 100%;
    width: 30%;
    border-radius: 5px;
    background: var(--background-slide-bar);
}

.setting-content {
    width: calc(70% - 6px);
    border-radius: 5px;
    margin-left: 6px;
    height: 100%;
    background: var(--background-content);
}

.setting-close-button {
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 30px;
}